/* General Styles */ 
body {  
    margin: 0;  
    padding: 0; /* Ensure there's no default padding */  
    font-family: Arial, sans-serif;  
    background-color: #98aebd;  
}  

.container {
    display: flex;
    height: 100vh;
}

h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Sidebar */  
.sidebar {  
    width: 16%;  
    background: #bfdbfe;  
    padding: 16px;  
    box-sizing: border-box;  
    display: flex;  
    flex-direction: column;  
    justify-content: space-between;  
    position: fixed;  
    height: 100%;  
    overflow-y: auto;  
}  

.logo {  
    font-size: 30px;  
    font-weight: bold;  
    color: #008cff;  
    margin-bottom: 50px;  
    position: sticky;  
    z-index: 1000;  
}  

.sidebar nav {  
    flex-grow: 1;  
}  

.sidebar nav a {  
    display: flex;  
    align-items: center;  
    color: #000000; /* All links with black text */  
    margin-bottom: 16px;  
    font-size: 18px;  
    text-decoration: none; /* No underline for default state */  
}  

/* Specific styles for "Khóa học của tôi" link */  
.sidebar nav a.book {  
    color:  #0586ff; /* Blue text for "Khóa học của tôi" */  
    text-decoration: underline; /* Underline for "Khóa học của tôi" */  
}  

.sidebar nav a i {  
    margin-right: 8px;  
    padding: 10px;  
    color: #0586ff; /* Icon color */  
}  

/* Main Content */
.main-content {
    margin-left: 16%;
    width: 84%;
    box-sizing: border-box;
    overflow-y: auto;
    position: fixed;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    width: 100%;
}

.search-bar {
    position: relative;
    width: 80%;
}

.search-bar input {
    width: 100%;
    padding: 10px 16px;
    border: 1px solid #95bfff;
    border-radius: 9999px;
    box-sizing: border-box;
    margin: 0;
}

.search-bar .search-icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    color: #5191ff;
}

.notification {  
    display: flex;  
    align-items: center;  
    gap: 16px;  
    color: #008cff;  
    font-size: 22px; 
    padding-right: 25px;
/* Increased text size */      /* Added padding for overall size */  
}  

.notification .avatar {
    width: 38px;
    height: 38px;
    background: rgb(32, 203, 255);
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
}

/* Avatar Menu */
.avatar-menu, .notifications-dropdown {
    position: absolute;
    top: 100px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(255, 53, 53, 0.1);
    padding: 10px;
    z-index: 1000;
}

.avatar-menu button, .notifications-dropdown p {
    display: block;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.avatar-menu button:hover, .notifications-dropdown p:hover {
    background-color: #f1f1f1;
}
